<!DOCTYPE html>
<html>

<head>
    <title>Merge PDF Files Online for Free and Safe</title>
    <meta name="description" content="Merge PDF Files Online for Free and Safe" />
    <script data-ad-client="ca-pub-7289401587617437" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TDRZGFYVCB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-TDRZGFYVCB');
    </script>
</head>

<body>

    <h1>Merge PDF Files Online for Free and Safe</h1>
    <form action="/merge" method="POST" enctype="multipart/form-data">
        select the files: <input type="file" name="pdfs" multiple />
        <br><br>
        <input type="submit" value="Merge" />
    </form>

</body>

</html>